if ! has nix_direnv_version 2.3.0; then
    echo "WARNING: nix-direnv version 2.3.0 or higher is recommended for better performance and caching."
    echo "The current fallback method is slower and needs to re-download configuration each time."
    echo "To install properly see https://direnv.net/"
    echo ""
    echo "Falling back to basic configuration for now..."
    source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/2.3.0/direnvrc" "sha256-Dmd+j63L/PXUUuZUJT+xj7ASrZiqH3cPdpRf0m1FuGw="
fi

if ! has nix; then
    echo "Nix is not installed!"
    echo "To install, use:"
    echo "curl --proto '=https' --tlsv1.2 -sSf -L https://install.determinate.systems/nix | sh -s -- install --determinate"
    exit 1
fi

watch_file nix/shell.nix
use flake
PATH_add build
